/*Autor: Alejandro Florea*/
body{
    margin: 0;
    background-image: url("../Img/fondo.jpg");
    background-repeat: repeat;
}
*{
    box-sizing: border-box;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    background-color: #FF4500;
    overflow: hidden;
    width: 100%;
}
.datos-menu{
    float: left;
}
.datos-menu a{
    text-decoration: none;
    padding: 20px 20px;
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}
.esfera{
    position:absolute
    margin-bottom: 0;
}
.enlacesmenu:hover{
    background-color: #FF7F50;
}
.columna{
    width: 47%;
    float: left;
    height: 400px;
    background-image: url("../Img/bocadillo.png");
    margin: 30px 1% 30px 2%;
    margin-left: 20%;
    background-repeat: no-repeat;
    margin-right: 0;
}
.columna2{
    width: 47%;
    float: right;
    height: auto;
    border-radius: 0 4px 4px 0;
    margin: 30px 2% 30px 1%;
    margin-top: 0%;
}
.fila{
}

@media only screen and (max-height: 800px) {
    .goku2{
        image-resolution: 300px 250px;
    }
}