/*Autor: Alejandro Florea*/
body {
    margin: 0;
    background-image: url("../Img/fondo.jpg");
    background-repeat: repeat;
}

* {
    box-sizing: border-box;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    background-color: #FF4500;
    overflow: hidden;
    width: 100%;
}

.datos-menu {
    float: left;
}

.datos-menu a {
    text-decoration: none;
    padding: 20px 20px;
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    font-size: 17px;
    color: aliceblue;
    font-weight: bold;
}

.esfera {
    margin-bottom: 0;
}

.enlacesmenu:hover {
    background-color: #FF7F50;
}

.c-bocadillo {
    width: 77%;
    float: left;
    height: 200px;
    background-image: url("../Img/bocadillo.png");
    background-position: right;
    margin: 30px 2% 30px 1%;
    background-repeat: no-repeat;
    display: grid;
    background-size: cover;
}

.c-goku {
    width: 17%;
    float: right;
    height: 200px;
    margin: 30px 2% 30px 1%;
    display: grid;
    justify-content: center;
    align-items: center;

}

.fila {
    padding: 0 5%;
}

.fila2 {
    margin: 20px 3% 20px 3%;

}

.c-bocadillo h1 {
    text-align: center;
}

.fila:after {
    content: "";
    display: table;
    clear: both;
}

.fila2:after {
    content: "";
    display: table;
    clear: both;
}

.informacion {
    padding: 20px;
    margin-left: 1%;
    background-color: #b95511;
    border-radius: 25px;
    width: 49%;
    float: left;
}

.tabla-izq {
    margin-right: 1%;
    width: 49%;
    float: left;
}

footer {
    background-color: #FF7F50;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.contenido {
    position: relative;
    min-height: 100vh;
}

.inicio2 {
    background-color: #b95511;
    margin: 20px 3% 20px 3%;
    border-radius: 20px;
    padding: 15px;
}


@media only screen and (max-height: 800px) {
    .goku2 {
        image-resolution: 300px 250px;
    }
}